<div>
    <h3>Menü</h3>
    <ul>
        <li><a asp-controller="Client" asp-action="EditProfile">Profilim</a></li>
        <li><a asp-controller="Client" asp-action="MyRequests">Taleplerim</a></li>
        <li><a asp-controller="Client" asp-action="MyRatings">Değerlendirmelerim</a></li>
        <hr />
        <li><a asp-controller="User" asp-action="SignOut" asp-route-returnUrl="/home/index">Çıkış Yap</a></li>

    </ul>
</div>