@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Şifremi Unuttum";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
    @model ForgotPasswordViewModel

    @if (TempData["Info"] != null)
    {
    <p id="info" style="color:green;font-weight:600;background-color:lightgreen;padding:10px;border-radius:25px;text-align:center;">
        @TempData["Info"]
    </p>
    }
    <form method="post" asp-controller="Auth" asp-action="ForgotPassword">
        <div asp-validation-summary="ModelOnly" id="errMsg" style="color:white;font-weight:500;background-color:red;border-radius:5px;">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>