@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Giriş Yap";
    var returnUrl = Context.Request.Query["returnUrl"];
}
@if (TempData["Succeed"] != null)
{
    <p id="info" style="color:green;font-weight:600;background-color:lightgreen;padding:10px;border-radius:25px;text-align:center;">
        @TempData["Succeed"]
    </p>
}
@model SignInViewModel
<form method="post" asp-controller="Auth" asp-action="SignIn" asp-route-returnUrl="@returnUrl">
    <div asp-validation-summary="ModelOnly" id="errMsg" style="color:white;font-weight:500;background-color:red;border-radius:5px;">
        @ViewBag.Message
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" asp-for="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="password">Şifre</label>
        <input type="password" class="form-control" id="password" asp-for="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" asp-for="RememberMe">
        <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
        <span class="text-danger" asp-validation-for="RememberMe"></span>
    </div>
    <a asp-controller="Auth" asp-action="ForgotPassword">Şifremi Unuttum</a>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>